.nav {
  position: fixed;
  width: 100%;
  background-color: rgba(black, .5);

  &__logo {
    display: block;
    color: white;
    font-size: 2.6rem;
    height: 6rem;
    width: 6rem;
    border: solid 2px white;
    border-radius: 100%;
    // TRICK TO VERTICALLY ALIGN LOGO
    text-align: center;
    line-height: 6rem;
    
  }

  &__list {
    color: white
  }

  &__item {
    color: inherit;
  }

  &__link {
    color: inherit;
    text-transform: uppercase;
    font-size: 1.7rem;
  }
}